.header {
	border-bottom: 1px solid #DDD;
	margin: 4px 0;
	padding: 4px 0;
}
.border {
	border-right: 1px solid #DDD;
}
.hiddenname {
	display: none;
}
.fieldWithErrors input { background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }
.menu.item h4 {
	margin-bottom: 5px;
}
.menu.item p.description {
	margin-left: 15px;
}
.menu.item p.price {
	float:right;
}
div.even {
	background:#e5ecf9;
}
.menu.item .button {
	float: right;
}
