<div class="span-2">
<strong><%= size.name || "<br />$#{size.price.to_s}" %></strong>
<% if !size.name.blank? %><br />$<%= size.price.to_s%><% end %>
</div>
<div class="span-2 last">
<%= link_to("Order", item_path(size.item), :class => 'button positive') %>
</div>