<h1><%=h @menu.name %></h1>
<% if !@items.blank? %>
<table id="items">
  <% for item in @items %>
    <tr>
		<td><%= link_to item.name, item_path(item) %></td>
		<td><%= item.description %></td>
	</tr>
  <% end %>
</table>
<% else %>
  <p>This menu doesn't have any items in it, see if you can find what you want in another category.</p>
<% end %>